@import 'libs/bootstrap-reboot.min'
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap')
*
    font-family: 'Oswald', sans-serif
    margin: 0
    padding: 0
        letter-spacing: 0.14em


.container
    position: relative
    max-width: 1170px
    margin: 0 auto

@import 'base/logo'
@import 'base/title'
@import 'base/buttons'
@import 'base/subtitle'


@import 'blocks/promo'
@import 'blocks/achievements'
@import 'blocks/choice'
@import 'blocks/services'
@import 'blocks/form'
@import 'blocks/questions'
@import 'blocks/footer'
@import 'blocks/card'
@import 'blocks/about'
@import 'blocks/advantages'
@import 'blocks/work'
@import 'blocks/examples'
@import 'blocks/contacts'
@import 'blocks/portfolio'
@import 'blocks/request'
@import 'blocks/title'
@import 'blocks/button'
@import 'blocks/menu'













